body, html {
    margin:0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.left{
    height: 300px;
}
.left-center{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow !important;
    width: 80%;
    height: 80%;
}
.right{
    height: 300px;
}
.right-center{
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue !important;
    width: 80%;
    height: 80%;
}
.imgs_carousel{
    width: 50% !important;
    height: 50% !important;
    margin-left: auto;
    margin-right: auto;

}
.img_2{
    transform: rotate(-20deg);
}